body {
	background: #EEE;
}

#content {
	background: #eeefff;
	padding: 15px 20px 30px 35px;
}

#content .row {
    margin-left: 0px;
}

#brand {
    display: inline;
}

.search-form {
	margin: 0 5px;
}

.search-form form {
	margin: 0;
}

.btn-menu {
    margin: 4px 5px 0 0;
    float: right;
}

.btn-menu a, .btn-menu input {
	padding: 7px 16px !important;
	border-radius: 1px !important;
	border-color: #ccc;
}

.btn, textarea, input[type], button, .model-list {
	border-radius: 0;
}

.model-list {
	border-radius: 0;
}

.nav-pills li > a {
	border-radius: 0;
}

.select2-container .select2-choice {
	border-radius: 0;
}

a.dropdown-toggle b.caret {
    margin-left: 5px;
}
.btn .btn-primary {
	background-color: aquamarine;
	padding-top: 100px;
}
