{% extends 'admin/base.html' %}
{% block head_tail %}
  {{ super() }}
  <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>My Analytics</h1>
            <p class="lead">
                Custom Data Viz
            </p>
            <p>
                This example shows how you can define your own custom data.
            </p>
            <p>
                It also demonstrates general file handling as well as the handling of image files specifically.
            </p>
        </div>
    </div>
</div>
{% endblock body %}



