{% import 'admin/layout.html' as layout with context -%}
{% import 'admin/static.html' as admin_static with context %}


<!DOCTYPE html>

<html>
  <head>
    <title>{% block title %}{% if admin_view.category %}{{ admin_view.category }} - {% endif %}{{ admin_view.name }} - {{ admin_view.admin.name }}{% endblock %}</title>
    {% block head_meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}

    {% block head_css %}
      <!-- include Firebase for authetications -->
        <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
        <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />

        <link href="{{ admin_static.url(filename='bootstrap/bootstrap3/swatch/{swatch}/bootstrap.min.css'.format(swatch=config.get('FLASK_ADMIN_SWATCH', 'default')), v='3.3.5') }}" rel="stylesheet">
        {%if config.get('FLASK_ADMIN_SWATCH', 'default') == 'default' %}
        <link href="{{ admin_static.url(filename='bootstrap/bootstrap3/css/bootstrap-theme.min.css', v='3.3.5') }}" rel="stylesheet">
        {%endif%}
        <link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css', v='1.1.1') }}" rel="stylesheet">
	    <link href="{{ admin_static.url(filename='admin/css/bootstrap3/submenu.css') }}" rel="stylesheet">
      <!-- include libraries(jQuery, bootstrap) -->
        <script src="{{ admin_static.url(filename='vendor/jquery.min.js', v='3.3.1') }}" type="text/javascript"></script>
        <script src="{{ admin_static.url(filename='bootstrap/bootstrap3/js/bootstrap.min.js', v='3.3.5') }}" type="text/javascript"></script>

      <!-- include codemirror (codemirror.css, codemirror.js, xml.js, formatting.js) -->
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
        {% block cm_links %}
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
        {% endblock %}
      <script src="https://kit.fontawesome.com/ae10b875ae.js" crossorigin="anonymous"></script>
      <!-- TODO make codemirror jinja2 environmental -->

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/addon/hint/html-hint.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/addon/hint/javascript-hint.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/addon/hint/css-hint.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/htmlmixed/htmlmixed.min.js"></script>

      <!-- include summernote css/js-->
        <link href="summernote.css">
        <script src="summernote.js"></script>


    {% if admin_view.extra_css %}
          {% for css_url in admin_view.extra_css %}
            <link href="{{ css_url }}" rel="stylesheet">
          {% endfor %}
        {% endif %}

        {% block web_fonts %}
        {% endblock %}

        {% block style %}
        <style>
               .sidenav {
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          overflow-x: hidden;
          transition: 0.5s;
          background-color: #1b1b1b;
          justify-content: center;
        }
        nav {
            width: 0%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            overflow-x: hidden;
            transition: 0.5s;
            justify-content: center;
        }

        .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
        }

        #main {
        transition: margin-left .5s;
            padding: 16px;
}       }

        .menu-icon {

        }

        </style>

    {% endblock %}
    {% endblock %}
    {% block head %}

    {% endblock %}
    {% block head_tail %}
    {% endblock %}
  </head>
    <body>
    {% block page_body %}
<!-- navbar content -->
    <nav id="sidebar" class="sidenav" style="display: none">
        {% block main_menu %}
          <ul  class="nav navbar-nav">
            {{ layout.menu() }}
          </ul>
          {% endblock %}

          {% block menu_links %}
          <ul class="nav navbar-nav">
            {{ layout.menu_links() }}
          </ul><br>
          {% endblock %}

          {% block access_control %}
          {% endblock %}
    </nav>
          <!-- Brand and toggle get grouped for better mobile display -->
        <div id="main" style="display:inline-flex; flex-direction: column">
            {% block messages %}
      {{ layout.messages() }}
      {% endblock %}

      {# store the jinja2 context for form_rules rendering logic #}
      {% set render_ctx = h.resolve_ctx() %}

      {% block body %}
        {% block summernote %}

        {% endblock %}
        {% block codemirror %}

        {% endblock %}
      {% endblock %}
    {% endblock %}
        </div>

    {% block tail_js %}
    <script src="{{ admin_static.url(filename='bootstrap/bootstrap3/js/bootstrap.min.js', v='3.3.5') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/moment.min.js', v='2.22.2') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='vendor/select2/select2.min.js', v='3.5.2') }}" type="text/javascript"></script>
    <script src="{{ admin_static.url(filename='admin/js/helpers.js', v='1.0.0') }}" type="text/javascript"></script>
     <!-- include summernote js
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
    -->
    {% if admin_view.extra_js %}
      {% for js_url in admin_view.extra_js %}
        <script src="{{ js_url }}" type="text/javascript"></script>
      {% endfor %}
    {% endif %}
    {% endblock %}

    {% block tail %}
    {% endblock %}

  <script>

$(document).ready(function(){
  $("#sphere").click(function(){
    $("#sidebar").fadeToggle(2000);
  });
});

function openNav() {
    document.getElementById("sidebar").style.width = "80%";
    document.getElementById("sidebar").style.alignContent = "center";
    document.getElementById("sidebar").style.paddingTop = "5px";
    document.getElementById('sidebar').style.display = "inline-block";
}
function closeNav() {
  document.getElementById('sidebar').style.display = "none";
}
</script>

  </body>
</html>
