{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}
{% block head_tail %}
  {{ super() }}
  <link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet">
{% endblock %}
{% block page_body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" role="navigation">
      <ul class="nav nav-pills nav-stacked">
	    {{ layout.menu() }}
	    {{ layout.menu_links() }}
          <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i>Logout</a>
      </ul>
    </div>
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>My Admin</h1>
            <p class="lead">
                Tweet Form
            </p>
            <form>
                <textarea>Ready, set, tweet...</textarea><br>
                <input type="text"> Video ID<br><br>
                <input type="file"><br><br>
                <input type="datetime-local"><br><br>
                <input type="submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}
  </div>
</div>
{% endblock %}
