<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<br>
<form action ="http://127.0.0.1:5000/admin" method="POST">
         <p>Enter Password:</p>
         <p><input type="password" name="password" placeholder="password"/></p>
         <p><input type="submit" value="submit" /></p>
{{ form.csrf_token }}
</form>
</body>
</html>
